<!-- IF S_USER_WHATSAPP -->
<dl>
	<dt><label for="allow_whatsapp1">{L_ALLOW_WHATSAPP}{L_COLON}</label></dt>
	<dd>
		<label for="allow_whatsapp1"><input type="radio" name="allow_whatsapp" id="allow_whatsappp1" value="1"<!-- IF S_ALLOW_WHATSAPP --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="allow_whatsapp0"><input type="radio" name="allow_whatsapp" id="allow_whatsappp0" value="0"<!-- IF not S_ALLOW_WHATSAPP --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
<!-- ENDIF -->