<!-- INCLUDE overall_header.html -->
<h2 class="titlespace">{SEND_WHATSAPP}</h2>

<form method="post" action="{U_ACTION}" id="post">
<div class="panel">
	<div class="inner">
		<div class="content">
			<fieldset class="fields2">
			<dl>
				<dt><label for="message">Nachrichtentext:</label><br />
				<span>Diese Nachricht wird als reiner Text verschickt, verwende daher kein HTML oder BBCode. Als Antwort-Adresse für die E-Mail wird deine E-Mail-Adresse angegeben.</span></dt>
				<dd><textarea class="inputbox" name="message" id="message" rows="15" cols="76" tabindex="4"></textarea></dd>
			</dl>
			</fieldset>
		</div>
	</div>
</div>

<div class="panel">
	<div class="inner">
	<div class="content">
		<fieldset class="submit-buttons">
			<input type="submit" tabindex="6" name="submit" class="button1" value="E-Mail senden" />
		</fieldset>
	</div>
	</div>
<input type="hidden" name="creation_time" value="1463518876" />
<input type="hidden" name="form_token" value="9ea0813a85a451b1776208e1a8c3ebdd33a1e965" />

</div>

</form>

<!-- INCLUDE overall_footer.html -->